body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#brand {
    margin-left: 10pt;
}

#searchContainer {
    top: 10pt;
}

#searchIcon {
    top: 10pt;
}

#breadcrumbContainer {
    margin-top: 5pt;
}

#breadcrumbContainer, .breadcrumb {
    background-color: transparent !important;
    box-shadow: none !important;
}

.breadcrumb {
    color: grey !important;
}

.breadcrumb::before {
    color: darkgrey !important;
    background-color: transparent !important;
    box-shadow: none!important;
}

.card-panel {
    padding: 0 !important;
}

.card-title {
    font-size: 10pt !important;
    margin: 0 !important;
    color: gray;
}

.flow-text {
    font-size: 20px !important;
}

.image-gallery-thumbnails-container{
    background-color: transparent !important;
    box-shadow: none !important;
}

.image-gallery-icon {
    display: none !important;
}

.image-gallery-thumbnail {
    border: none !important;
}

.image-gallery-thumbnails {
    height: 100pt;
}

.image-gallery-thumbnail:hover{
    border: 1px solid !important;
    filter: blur(0.0);
}

#loginContainer {
    display: inline-block;
    padding: 32px 48px 0px 48px;
    border: 1px;
    margin-top: 100px;
    color: solid #EEE;
}

#forgotPasswordText {
    font-weight: normal;
}

#loginButton {
    margin-left: 65px;
}
