#brand {
    margin-left: 10pt;
}

#searchContainer {
    top: 10pt;
}

#searchIcon {
    top: 10pt;
}

#breadcrumbContainer {
    margin-top: 5pt;
}

#breadcrumbContainer, .breadcrumb {
    background-color: transparent !important;
    box-shadow: none!important;
}

.breadcrumb {
    color: grey !important;
}

.breadcrumb::before {
    color: darkgrey !important;
    background-color: transparent !important;
    box-shadow: none!important;
}

.card-panel {
    padding: 0 !important;
}

.card-title {
    font-size: 10pt !important;
    margin: 0 !important;
    color: gray;
}

.flow-text {
    font-size: 20px !important;
}
